<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Our Logo</a>
    <p class="navbar-brand">Company Name</p>
    <form class="form-inline">
      <a class="btn btn-outline-primary" href="login_form" role="button">
      Login
      </a>
      <div style="padding-left: 10px;">
        <a class="btn btn-outline-success" href="user_form" role="button">
        Sign Up
        </a>
      </div>
    </form>
  </nav>

    <%= yield %>
</div>
  </body>
</html>
